<%= render :partial => "informacion_proyectos"%>

<% form_for :eje, @eje, :url => { :controller => "ejes", :action => "save_eje", :proyecto => @proyecto, :id => @eje }, :html => {:class => "formee", :id => "eje"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>P R O Y E C T O</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-12-12">
              <label>Eje a desarrollar:</label>
              <%= f.select :catalogo_eje_id, @catalogo_ejes.collect {|p| [ p.completo, p.clave ] }, { :prompt => "SELECCIONE UNA ACCIÓN" } %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- contenido -->
  <tr align="center">
    <td align="center">
      <div id="contenido_eje">

      </div>
    </td>
  </tr>


  <%#= render :partial => "diagnosticos/errores_evidencias"%>
  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="siguiente" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar" value="Guardar" />
          </td>
          <td>
            <a href="/proyectos/index" id="cancelar_sig" class="buttonText">Regresar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>









<%= observe_field :eje_catalogo_eje_id,
                  :frecuency => 0.2,
                  :update => :contenido_eje,
                  :url => { :controller => 'proyectos', :action => 'get_contenido_ejes' },
                  :with => :eje_catalogo_eje_id %>