<%= render :partial => "informacion_proyectos"%>

<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>P R O Y E C T O</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-12-12" style="text-align:center;"><label class="uper">Eje a desarrollar:</label></div>
            <div class="grid-2-12">&nbsp;</div>
            <div class="grid-8-12" style="text-align:center;">
              <%= select :catalogo, :catalogo_eje_id, @catalogo_ejes.collect {|p| [ p.completo, p.clave ] }, { :prompt => "SELECCIONE UNA ACCIÓN" , :style => "font-size: 12px;"} %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- contenido -->
  <tr align="center">
    <td align="center">
      <div id="contenido_eje">

      </div>
    </td>
  </tr>


  <%#= render :partial => "diagnosticos/errores_evidencias"%>
  
</table>
<%# end %>

<%= observe_field :catalogo_catalogo_eje_id,
                  :frecuency => 0.2,
                  :update => :contenido_eje,
                  :url => { :controller => 'proyectos', :action => 'get_contenido_ejes' },
                  :with => :catalogo_catalogo_eje_id %>

<script type="text/javascript">
  var catalogo_eje_id = new LiveValidation( 'catalogo_catalogo_eje_id' );
  catalogo_eje_id.add( Validate.Presence );
  catalogo_eje_id.add( Validate.Exclusion, { within: [ '' , ' ' ] } );

</script>