<%if @proyecto%>
  <%if @proyecto.oficializado%>
      <div class="titulos" style="text-align: center;" ><p>AVANCES</p></div>
     
      <% case @proyecto.avance
        when 1 %>

          <div>
            <p align="center"><%= link_to image_tag("/images/botones/primer_avance.png", :mouseover => "/images/botones/primer_avance2.png" ), { :controller => "avances", :num_avance => Base64.encode64("1") } %></p>
          </div

        <% when 2 %>
          <div>
            <p style=" vertical-align: middle;" >Proximamente... segundo avance</p>
          </div
      <% end %>
    <%end%>
 <%end%>