<%# form_for :user, @user, :url => { :action => "create", :controller => "sessions"}, :html => {:class => "formee"} do |f| -%>
  <%#*<div class="grid-8-12"></div>%>
  <%#*<div class="grid-3-12">%>
    <%#*<fieldset  >%>
      <%#*<legend>Ingreso&nbsp;a&nbsp;la&nbsp;Plataforma</legend>%>
      <%#*<div class="grid-login">%>
        <%#*<label>Clave de la Escuela:</label>%>
        <%#= f.text_field :login%>
      <%#*</div>%>

      <%#*<div class="grid-login">%>
        <%#*<label>Contraseña:</label>%>
        <%#= f.password_field :password%>
      <%#*</div>%>

      <%#*<div class="grid-login">%>
        <%#*<input class="right" type="submit" title="INICIAR SESION" value="INICIAR SESIÓN" />%>
      <%#*</div>%>
  
      <%#*<div class="grid-12-12" align="center">%>
        <%#= link_to "¿No estás registrado? ", {:action => "new", :controller => "users"}, :style => "font-family: Arial, sans-serif;font-size:13px;color:#427fed; text-decoration: none;"> &nbsp; <span style="color:#444; font-size: 1.8em;" >|</span> &nbsp; <%=link_to " ¿Olvidaste tu contraseña? ", {:action => "forgot", :controller => "users"}, :style => "font-family: Arial, sans-serif;font-size:13px;color:#427fed; text-decoration: none;"%>
      <%#*</div>%>
    <%#*</fieldset>%>
  <%#*</div>%>
  <%#*<div class="grid-1-12"></div>%>
<%# end %>