<div class="formee">
  <fieldset>
    <legend>&nbsp;IMPRESIÓN&nbsp;DE&nbsp;DOCUMENTOS&nbsp;</legend><br />
    <!-- constancia -->
    <% form_for :escuela, @escuela, :url => { :action => "formato_registro", :controller => "registro", :id => "#{@escuela.clave}.pdf" }, :html => { :target => "_blank"} do -%>
      <div class="grid-center">
        <input type="submit" title="IMPRIMIR FORMATO DE REGISTRO" value="IMPRIMIR FORMATO DE REGISTRO" />
      </div>
    <%end%>

    <div class="grid-12-12 clear"></div>

    <!-- constancia -->
    <% form_for :escuela, @escuela, :url => { :action => "generar", :controller => "constancia", :id => @escuela }, :html => { :target => "_blank"} do |f| -%>
      <div class="grid-center">
        <input type="submit" title="IMPRIMIR CONSTANCIA DE INSCRIPCION" value="IMPRIMIR CONSTANCIA DE INSCRIPCION" />
      </div>
    <%end%>

    <div class="grid-12-12 clear"></div>

    <!-- carta compromiso -->
    <% form_for :escuela, @escuela, :url => { :action => "carta_compromiso_basica", :controller => "constancia", :id => @escuela }, :html => { :target => "_blank"} do |f| -%>
      <div class="grid-center">
        <input type="submit" title="IMPRIMIR CARTA COMPROMISO" value="IMPRIMIR CARTA COMPROMISO" />
      </div>
    <%end%>

    <div class="grid-12-12 clear"></div>
  </fieldset>

  <p style="text-align: center;">
    <label><%= image_tag 'era/iconos/flecha.png'%>&nbsp;<%=link_to "  [ IR A ETAPA DE DIAGNÓSTICO ]", {:controller => "diagnosticos"}, :style => "color:#0489B1; text-decoration: none;" %></label>
  </p>

      
</div>