  <table  width="100%" border="0" align="center" cellpadding="1" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
    <tr>
      <td align="center"><h3>EDUCAR CON RESPONSABILIDAD AMBIENTAL</h3></td>
    </tr>
    <tr>
      <td align="center"><h3>CERTIFICACIÓN DE ESCUELAS SALUDABLES Y SUSTENTABLES (ESyS)</h3></td>
    </tr>
    <tr>
      <td align="center"><p><%=@escuela.descripcion_completa%></p></td>
    </tr>
    <tr>
      <td align="center"><p> HA CONCLUIDO SATISFACTORIAMENTE EL PROCESO DE CERTIFICACIÓN PARA EL CICLO ESCOLAR: <%=CICLO_ESCOLAR%>.  </p></td>
    </tr>

    <tr>
      <td align="center"><p>&nbsp; </p></td>
    </tr>
    
    <tr>
      <td align="center"><p style="font-size: 10px;">CÓDIGO DE AUTENTICIDAD: <%=@user.activation_code%></p></td>
    </tr>

  </table>
