<table border="1" width="70%" style="background-color:white; text-align: center;">

   <tr style="background-color:gray; color:white">
    <th colspan="2">
      Plataforma de Certificación de Escuelas Saludables y Sustentables (ESyS)  /  Ciclo Escolar: <%=h CICLO_ESCOLAR%>
    </th>
   </tr>

  <!-- Evaluaciones realizadas -->
  <%@escuela ||= @user.escuela%>
  <%@escuela ||= Escuela.find_by_clave(@user.login)%>
  <%@diagnostico = Diagnostico.find_by_escuela_id(@escuela) if @escuela%>
  <%@evaluaciones = Evaluacion.find(:all, :conditions => ["diagnostico_id = ?", @diagnostico.id]) if @diagnostico%>

  <%if @evaluaciones%>
    <tr>
        <th colspan="2">OBSERVACIONES DEL DIAGNÓSTICO</th>
    </tr>

   <%@evaluaciones.each do |e|%>
      <tr>
        <th>Observación:</th>
        <td><%=h e.observaciones%></td>
      </tr>
    <%end%>
  <%end%>

</table>




<p>
<h4>Para ingresar a la plataforma ingrese a la siguiente liga:</h4>
<h3><%=  link_to "#{SITE_URL}", "http://#{SITE_URL}/proyectos"%>
</h3>
</p>


<p align="center">
---------------------------------------------------------------------------------------------------------------------------------------------
</p>
<p align="center">
  Edificio Anexo de la Subsecretaria de Educación Federalizada (SEF), 3er. Piso<br />
  Calzada Mayor Julio Sabines S/N, Col. 24 de Junio, Tuxtla Gutiérrez, Chiapas. <br />
  Teléfono: (961) 61 70800 Ext. 41270<br />
  Correo Electrónico: <%=h SITE_EMAIL%><br />
</p>

