<div class="titulos">
 <div id="error_carga_evidencias" class="formee-msg-error">
              <h2 style="text-align: center;">El archivo no se cargó correctamente:</h2>
              <%if @errores%>
                <%@errores.each do |e|%>
                    <ul>
                       <li style="font-size: 16px;">
                        <%campo, mensaje = e.split(":")%>
                          <%=h mensaje%>
                       </li>
                       <li>&nbsp;</li>
                    </ul>
                <%end%>
              <%end%>


              <%case params[:action]
                    when 'create_evidencia'
                      url = {:controller => "upload", :action => "new_evidencia",  :diagnostico => @diagnostico, :eje => @eje, :numero_pregunta => @numero_pregunta}
                    when 'create_evidencia_avance'
                      url = {:controller => "upload", :action => 'new_evidencia_avance',  :proyecto => @proyecto, :num_avance =>@num_avance,  :eje => @eje, :numero_pregunta => @numero_pregunta}
                    end
               %>


              <ul><li><%=link_to "VOLVER A INTENTAR", url%></li></ul>

  </div>
</div>