<div class="titulos">
  <p align="center">
    Error en la carga de la evidencia, verifique y vuelva a intentarlo.
  </p>
  <p align="center">
    <%if @errores%>
      <%=h @errores.map{|e|e.last} %>
    <%end%>
  </p>
</div>