 <%if flash[:notice]%>
            <div class="formee-msg-success">
              <h3>Operación realizada exitosamente:</h3>
              <ul>
                <li><%=flash[:notice]%></li>
              </ul>
            </div>
            <%elsif flash[:error]%>
            <div class="formee-msg-error">
              <h3>Error:</h3>
              <ul>
                <li><%=flash[:error]%></li>
              </ul>
            </div>
  <%end%>


<%=render :partial => "reporte_evidencias_diagnostico"%>




<%if current_user.has_role?("adminplat") || current_user.has_role?("admin")%>
<div class="container">
  <div class="formee">
    <fieldset>
      <!-- constancia -->
      <% form_for :escuela, @escuela, :url => { :action => "send_reporte_evidencias_diagnostico", :controller => "mensajes", :user => @user, :recibe_id => @user, :diagnostico => @diagnostico, :observaciones_evidencias => @observaciones_evidencias } do |f| -%>
      <div class="grid-center">
        <input type="submit" title="ENVIAR REPORTE A ESCUELA" value="ENVIAR REPORTE A ESCUELA" />
      </div>
      <%end%>
    </fieldset>
  </div>
</div>
<%end%>