<div class="container">

  <div class="formee-msg-info">
    <h3>Información importante</h3>
    <ul>
      <li>Los campos marcados con <em class="formee-req">*</em> son obligatorios.</li>
    </ul>
  </div>
  <% form_for :escuela, @escuela, :url => { :action => "save_asignar_evaluador", :id => @escuela, :clave => @escuela.clave }, :html => {:class => "formee", :name => "escuela"} do |f| -%>
    <fieldset>
      <legend>Evaluadores</legend>
        <div class="grid-6-12">
          <label>Seleccione uno o varios registros<em class="formee-req">*</em></label>
          <fieldset style="padding: 5px 5px 5px 5px;">
            <div id="programas">
              <% @evaluadores.each do |c| %>
                <%= check_box_tag "evaluadores[#{c.id}]", c.login, @s_evaluadores.include?(c.id) ? true : false %>&nbsp;<%= c.login_nombre %><br />
              <% end %>
            </div>
          </fieldset>
        </div>


        <div class="grid-12-12 clear"></div>

        <!-- submit -->
        <div class="grid-12-12">
          <input class="right" type="submit" onclick="to_uppercase();" title="GUARDAR" value="GUARDAR" />
        </div>
    </fieldset>
  <%end%>
</div>