<!-- Menú de administrador -->
<div class="titulos">
  <p>
    Catálogos
  </p>
</div>

<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr align="center">
    <td>
<%#if current_user.has_role?("adminplat")%>
      <!-- Listado -->
      <div class="grid-3-12">
        <%=link_to image_tag('/images/admin/add_escuela.png', :mouseover => '/images/admin/add_escuela1.png') , { :action => "add_comunitaria", :controller => "admin" }, :title => "Agregar escuela comunitaria" %>
        <label style="font-family:verdana;font-size:14px;">Agregar Escuela</label>
      </div>
     <!-- Comentarios -->
     <div class="grid-3-12">
      <%=link_to image_tag('/images/admin/add_institucion.png', :mouseover => '/images/admin/add_institucion1.png') , { :controller => "catalogo_institucions" }, :title => "Agregar Instituciones" %>
      <label style="font-family:verdana;font-size:14px;">Agregar Instituciones</label>
     </div>
     <!-- Indicadores -->
     <div class="grid-3-12">
      <%=link_to image_tag('/images/admin/add_accion.png', :mouseover => '/images/admin/add_accion1.png') , { :controller => "catalogo_accions" }, :title => "Agregar Acciones"%>
      <label style="font-family:verdana;font-size:14px;">Agregar Acciones</label>
     </div>
<%#end%>
    </td>
  </tr>
</table>
<br/>
<div class="titulos">
  <%= link_to image_tag("botones/btn_regresar.png", :mouseover => "botones/btn_regresar1.png") , :controller => "admin", :action => "index" %><br />
</div>