<div class="titulos">
  <p>Listado de Revisores Internos y Externos</p>
</div>






<!-- contenido -->

  <table width="55%" class="sample" border="0" cellspacing="0" cellpadding="0" style="color: navy; BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr class="d0">
      <td style="vertical-align: middle;">Tipo</td>
      <td style="vertical-align: middle;">Nombre</td>
    </tr>
    <%@usuarios.each do |u|%>
    <tr class="d1">
     <td><%=h u.roles.map{|x|x.name}%></td>
     <td style="vertical-align: middle;"><%=h u.nombre%></td>
    </tr>
    <%end%>
  </table>

<br />

<div>
  <p align="center">
    <%=button_to "Crear usuario", {:action => "new_from_admin", :controller => "admin"}, :class => "boton"-%>
  </p>
</div>

<br />


<div class="titulos">
<%= link_to image_tag("botones/btn_regresar.png", :mouseover => "botones/btn_regresar1.png") , :controller => "admin", :action => "index"%><br />
</div>
