<table width="80%" border="0" align="center" cellpadding="2" cellspacing="1">
  <tr>
    <td><img alt="mostrar/ocultar" src="/images/acordeon/arrow_up.png" style="cursor: pointer;" onclick="showEje(this, 'eje1');" >&nbsp; EJE1.- DESARROLLO DE COMPETENCIAS </img></td>
  </tr>
  <tr id="eje1" style="display: none;" >
    <td><%= render :partial => "competencias_rpte" %></td>
  </tr>
  <tr>
    <td><img alt="mostrar/ocultar" src="/images/acordeon/arrow_up.png" style="cursor: pointer;" onclick="showEje(this, 'eje2');" >&nbsp; EJE2.- ENTORNO SALUDABLE </img></td>
  </tr>
  <tr id="eje2" style="display: none;" >
    <td><%= render :partial => "entornos_rpte" %></td>
  </tr>
</table>
<!-- EJE 1: DESARROLLO DE COMPETENCIAS -->