<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("#evidencias").fancybox().trigger('click');
});
</script>

<!-- Mensaje de validaciones de evidencias -->
<% if flash[:evidencias]%>
  <div id="evidencias" class="formee-msg-error">
    <ul>
      <h2>No se encontraron evidencias: &nbsp; &nbsp; &nbsp;</h2>
      <% flash[:evidencias].split(",").each do |e| %>
        <li>&times; <%= e %>.</li><br/>
      <% end %>
    </ul>
  </div>
<% end %>