<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("#evidencias").fancybox().trigger('click');
});
</script>

<!-- Mensaje de validaciones de evidencias -->
  <tr>
    <td align="center">
      <table>
        <tr>
          <td colspan="4">
            <%if flash[:evidencias]%>
            <div id="evidencias" class="formee-msg-error">
              <h2 style="text-align: center;">No se encontraron evidencias:</h2>
              <%flash[:evidencias].split(",").each do |e|%>
                <ul>
                  <li style="font-size: 14px;">&times; <%=e%>.</li>
                </ul>
              <%end%>
            </div>
            <%end%>
          </td>
        </tr>
      </table>
    </td>
 </tr>