<div class="contentmenu">
               <ul class="ca-menu">
                    <li>
                        <a href="/competencias/new_or_edit/<%=@diagnostico.id%>">
                            <span class="ca-icon_competencias">&nbsp;</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Desarrollo de competencias</h2>
                                <h3 class="ca-sub">&nbsp;</h3>
                            </div>
                        </a>
                    </li>
                     <li>
                        <a href="/entornos/new_or_edit/<%=@diagnostico.id%>">
                            <span class="ca-icon_entornos">&nbsp;</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Entornos saludables</h2>
                                <h3 class="ca-sub">&nbsp;</h3>
                            </div>
                        </a>
                    </li>
                     <li>
                        <a href="/huella_ecologica/new_or_edit/<%=@diagnostico.id%>">
                            <span class="ca-icon_huella">&nbsp;</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Huella ecológica</h2>
                                <h3 class="ca-sub">&nbsp;</h3>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/consumo_responsable">
                            <span class="ca-icon_consumo">&nbsp;</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Consumo responsable Saludable</h2>
                                <h3 class="ca-sub">&nbsp;</h3>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/participacion_comunitaria">
                            <span class="ca-icon_participacion">&nbsp;</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Participación comunitaria</h2>
                                <h3 class="ca-sub">&nbsp;</h3>
                            </div>
                        </a>
                    </li>
                </ul>

</div>
