  <table  width="100%" border="0" align="center" cellpadding="1" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
    <tr>
      <td align="center"><h3>CERTIFICACIÓN DE ESCUELAS SALUDABLES Y SUSTENTABLES (ESyS)</h3></td>
    </tr>
    <tr>
      <td align="center"><h5>CICLO ESCOLAR: <%=CICLO_ESCOLAR%></h5></td>
    </tr>

    <tr>
      <td align="center"><h4> <%=@diagnostico.escuela.nombre%></h4></td>
    </tr>
    <tr>
      <td align="center"><p> GRACIAS POR CONCLUIR LA ETAPA DE DIAGNÓSTICO.</p></td>
    </tr>
    
    <tr>
      <td align="center"><p>SU REGISTRO SE CONCLUYÓ CON EL FOLIO NÚMERO: <%=@diagnostico.folio%></p></td>
    </tr>

    <%if @diagnostico.escuela%>
    <tr>
      <td align="center"><p>CÓDIGO DE AUTENTICIDAD: <%=(User.find(:first, :conditions => ["escuela_id = ?", @diagnostico.escuela.id])) ? User.find(:first, :conditions => ["escuela_id = ?", @diagnostico.escuela.id]).activation_code : "------------"  %></p></td>
    </tr>
    <%end%>

  </table>
