  <table class="subreport" width="100%" border="0" align="center" cellpadding="1" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
    <tr>
      <td align="center"><h4>REPORTE GENERAL DEL DIAGNOSTICO INSTITUCIONAL</h4></td>
    </tr>
    <!-- EJE 1: DESARROLLO DE COMPETENCIAS -->
    <tr>
      <td>
        <% form_for :competencia, :html => {:class => "formee", :name => "competencia"} do |f| -%>
        <table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
          <tr>
            <td align="center"><h5>EJE 1: DESARROLLO DE COMPETENCIAS</h5></td>
          </tr>
          <tr align="center">
            <td align="center">
              <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
                <tr>
                  <td><label class="uper">Pregunta</label></td>
                  <td>&nbsp;</td>
                  <td><label class="uper">Max. Puntaje</label></td>
                  <td>&nbsp;</td>
                  <td><label class="uper">Puntaje Obtenido</label></td>
                </tr>
                <tr>
                  <td width="80%" align="justify"><label class="uper">1.- ¿Cuántos docentes se han capacitado en materia de salud y/o medio ambiente en el último ciclo escolar?<em class="formee-req"> *</em></label></td>
                  <td>&nbsp;</td>
                  <td><label>3.225</label></td>
                  <td>&nbsp;</td>
                  <td><label><%= (((@competencia.docentes_capacitados_sma.to_i)/(@escuela.total_personal_docente.to_f)) * 100) * 0.03225 %></label></td>
                </tr>
                <tr>
                  <td><div class="grid-2-12"><%= f.text_field :docentes_capacitados_sma, :style => "text-align: center;", :class => "rpt" %></div></td>
                  <td colspan="4">&nbsp;</td>
                </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
      </table>
      <% end %>
    </td>
  </tr>
</table>

<script type="text/javascript">
  showImageText('huella_energia_electrica_id', 'huella_consumo_actual', 'huella_consumo_anterior', 'eje3_p2');
  enaSelect('huella_red_publica_agua', 'huella_servicio_agua_id');
  enaSelectMultiple('huella_recip_residuos_solid', 'eliminar_residuos');
</script>