<div class="grid-1-12"></div>
<div class="grid-10-12">
<% form_for :user, @user, :url => { :action => "forgot", :controller => "users"}, :html => {:class => "formee"} do |f| -%>
  <fieldset>
    <div class="grid-12-12"><legend>Recuperar&nbsp;contrase침a</legend></div>
    <div class="grid-8-12">
      <label>Escriba la direcci칩n de correo electr칩nico con la cual se registr칩:</label>
      <%= f.text_field :email%>
    </div>
     
    <div class="grid-4-12">
      <br />
      <input style="vertical-align: text-bottom;" type="submit" title="ENVIAR" value="ENVIAR" />
    </div>
  </fieldset>
<% end %>
</div>
<div class="grid-1-12"></div>
