<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("#firefox").fancybox().trigger('click');
});
</script>

<div style="display: none;" id="firefox">
<table>
<tr>
  <td colspan="3" align="center">
    <table class="TextoPrincipal" cellspacing="5" cellpadding="5" width="80%" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
      <tr>
        <td class="Txt_cont_acercade" style="color: black;">
          <strong style="color: green;">A LOS USUARIOS DE LA PLATAFORMA DE CERTIFICACIÓN ESyS:</strong>
          <p>Con la finalidad de mejorar la experiencia de uso, recomendamos utilizar el navegador Mozilla Firefox. </p>
          <p>Puede descargarlo <a href="http://www.mozilla.org/es-MX/firefox/new/">Aquí</a>.</p>
          
          <p>Dudas o comentarios puede hacerlos llegar a: <a href="mailto:plataforma.era@gmail.com">plataforma.era@gmail.com</a>, donde con gusto le daremos seguimiento.</p>

         
	</td>
      </tr>
      <tr><td><p>&nbsp;</p></td></tr>
    </table>
  </td>
</tr>
</table>
</div>

