<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("#firefox").fancybox().trigger('click');
});
</script>

<div style="display: none;" id="firefox">

<div class="formee-msg-warning" style="font-size: 16px;">
  <h3>Información importante</h3>
    <ul>
      <li>
        <strong>A LOS USUARIOS DE LA PLATAFORMA DE CERTIFICACIÓN ESyS:</strong><br/>
        <p>Con la finalidad de mejorar la experiencia de uso, recomendamos utilizar el navegador Mozilla Firefox. </p>
        <p>Puede descargarlo <a href="http://www.mozilla.org/es-MX/firefox/new" target="_blank" onclick="window.location.replace('http://www.mozilla.org/es-MX/firefox/new');">Aquí</a>.</p>
        <p>Dudas o comentarios puede hacerlos llegar a: <a href="mailto:plataforma.era@gmail.com">plataforma.era@gmail.com</a>, donde con gusto le daremos seguimiento.</p>
      </li>
    </ul>
</div>
</div>
