<tr>
  <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
</tr>
<tr>
  <td colspan="3"><img src="/images/era/btns_cert/tit_1.png" width="299" height="43" /></td>
</tr>
<tr>
  <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
</tr>
<tr>
  <td colspan="3" align="center">
    <table width="870" border="0" cellspacing="0" cellpadding="0">
      <tr>
       
              <td class="Txt_cont_acercade"><p><strong>CERTIFICACIÓN DE  ESCUELAS SALUDABLES Y SUSTENTABLES (ESyS):</strong></p>
                  <p style="text-align: justify;">
                    <!-- parrafo principal -->
                    La certificación de escuelas saludables y sustentables, es un programa que acredita las acciones realizadas
                    por la institución educativa, reconoce el trabajo , la experiencia y la suma de esfuerzos en la realización
                    de proyectos desde la institución educativa, que fomentan valores, actitudes, prácticas saludables y
                    sustentables: las cuales impacten en su entorno inmediato y los empodere para ejercer una responsabilidad ambiental
                    dentro de su comunidad, a través de la implementación  de los cinco ejes prioritarios del proceso de certificación:
                    <b>Desarrollo de competencias, Entornos saludables, Huella ecológica, Consumo responsables y saludables y Participación
                    comunitaria.</b>
                  </p>

                  <p><strong>OBJETIVO GENERAL</strong></p>

                  <p style="text-align: justify;">
                    Reconocer el trabajo, la experiencia y la suma de esfuerzos de las comunidades educativas en la realización de proyectos
                    desde su escuela, fomentando valores, actitudes y prácticas saludables y sustentables.
                  </p>
                  

                  <!--
                  <p>A través de la propuesta educativa  La Nueva Escuela Chiapaneca  se plantea  la formación de ciudadanos comprometidos con la sustentabilidad y el cuidado de  la salud, considerando  como su principal  estrategia generar  una nueva cultura  ambiental, a través del conocimiento, la ética, las competencias y las acciones  que posibiliten un aprendizaje sobre la realidad local y alcázar una mejor  comprensión de las causas, conexiones y consecuencias de los  problemas ambientales y posibles soluciones;  estableciendo como mecanismo para lograr los objetivos en manados de esta  propuesta educativa, la certificación de escuelas saludables y sustentables  ESyS.</p>
                  -->
                  <!--
                  <strong>OBJETIVO GENERAL </strong>:Formar a niñas, niños y jóvenes con una sólida  educación ambiental, con experiencia en realización de proyectos desde su  escuela, fomentando valores, actitudes y prácticas saludables y sustentables,  las cuales impacten en su entorno inmediato y los  empoderen para ejercer una responsabilidad  ambiental  dentro de su comunidad., a  través del Desarrollo de Competencias, el Manejo de los Entornos Saludables, la  Huella Ecológica,  el Consumo Responsable  y la Participación Comunitaria.
                  -->

                  <p><strong>COMPONENTES DE LA CERTIFICACIÓN:</strong></p>

                  <p style="text-align: justify;">Para acreditar las acciones realizadas por las instituciones educativas es necesario abordar los tres componentes de la  certificación, los cuales son:</p>
  
                  <p style="text-align: justify;"><b>Ejes rectores:</b> Son la base del desarrollo de  las competencias para el cuidado y preservación de la salud y medio ambiente.</p>

                  <p style="text-align: justify;"><b>Líneas de acción:</b>  Acciones sustantivas de cada eje. Orientan las actividades a desarrollar para alcanzar los niveles de certificación. </p>

                  <p style="text-align: justify;"><b>Indicadores:</b> Punto de referencia de las líneas de acción.  Permite conocer de manera cuantitativa y cualitativa el logro del impacto o efectos esperados con respecto al proyecto. </p>

                  <!-- termina parrafo de que es esys -->
                  </td>

      </tr>
    </table>
  </td>
</tr>