<div class="formee">
<fieldset>
    <legend style="text-align: center; margin-left: 32%" >&nbsp;MANUAL&nbsp;DE&nbsp;CERTIFICACIÓN&nbsp;</legend>
    <p style="text-align: center;" >
      <%=link_to image_tag("botones/btn_descargar_archivo.png", :size => "276x74", :mouseover => "botones/btn_descargar_archivo2.png", :border => 0), "/manual.pdf" , :title => "DESCARGA EL MANUAL DE CERTIFICACION"%>
    </p>
</fieldset>
</div>