
<tr>
  <td colspan="3" align="center">
  <div class="formee-msg-info">
    <ul>
      <li>
          <p><strong>El período de registro a la plataforma ha expirado, dudas o comentarios escriba a: plataforma.era@gmail.com</strong></p>
        </li>
      </ul>
    </div>
  </td>
</tr>
