<%=render :partial => "observaciones_evidencias"%>

<p style="text-align: center;" class="txtMnGlobalNg">Registro</p>

<p class="txtGlobal">
  Para la incorporación de la escuela al proceso de certificación, usted deberá dar clic
  en la ventana de registro y dar inicio a la captura con la clave del centro de trabajo y
  crear una contraseña para acceder a la base de datos y registro correspondiente.
  Deberá verificar los datos que se encuentran marcados en el recuadro verde,
  posteriormente capturar la información solicitada en los espacios señalados.
</p>





