<!-- Menú de consejeros y equipo ERA -->
<div class="titulos">
  <p>
    Bienvenido: <%=h @user.nombre%>
  </p>
</div>

<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr align="center">
      <td>
        
       <!-- Comentarios -->
       <div class="grid-4-12">
       <%=link_to image_tag('admin/comentarios.png', :size => "128x128", :size => "128x128", :mouseover => 'admin/comentarios2.png') , {:action => "list", :controller => "mensajes"}, :title => "Plataforma de Mensajes"%>
         <label style="font-family:verdana;font-size:14px;">Plataforma&nbsp;de&nbsp;mensajes</label>
       </div>

        <%if current_user.has_role?("equipotecnico")%>
              <!-- Niveles -->
                <div class="grid-4-12">
                    <%=link_to image_tag('admin/niveles.png', :size => "128x128", :mouseover => 'admin/niveles2.png') , {:action => "report_by_niveles", :controller => "admin"}, :title => "Reporte General por niveles educativos"%>
                  <label style="font-family:verdana;font-size:14px;">Niveles&nbsp;Educativos</label>
                </div>

                <div class="grid-4-12">
                    <%=link_to image_tag('admin/corte_ranking.png', :size => "128x128", :size => "128x128", :mouseover => 'admin/corte_ranking.png') , {:action => "cortes_ranking", :controller => "admin"}, :title => "Cortes de Ranking de escuelas"%>
                    <label style="font-family:verdana;font-size:14px;">Ranking&nbsp;Histórico</label>
                </div>
          <%end%>
      </td>
    </tr>
</table>
<br/>

