<div class="grid-12-12">
  <fieldset>
    <legend style=" font-size: 14px;" >DETALLE&nbsp;DE&nbsp;PROYECTOS:</legend>
      <%(1..@proyectos_seleccionados).each do | proyecto|%>
              <div class="grid-12-12"></div>
              <div class="grid-12-12">
                 <label style=" font-weight: bold;"><%=h proyecto%>.- Nombre del proyecto: <em class="formee-req">*</em></label>
                 <%= text_field "pescolaresambiente", "nombre_#{proyecto}" %>
              </div>

              <div class="grid-12-12">
                <label style=" font-weight: bold;">Descripción del proyecto: </label>
                <%= text_area "pescolaresambiente", "descripcion_#{proyecto}"%>
              </div>
              <div class="grid-12-12 clear"></div>
      <%end%>
  </fieldset>
</div>


