@charset "utf-8";
.fnd_index {
	background-image: url(/images/era/fnds/fondo1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 1012px;
	width: 900px;
}
.fnd_transp {
	background-image: url(/images/era/fnd_transp.png);
	background-repeat: no-repeat;
	height: 150px;
	width: 900px;
}

.Txt_prof {
   font-family: 'Open Sans', arial;
        -webkit-font-smoothing: antialiased;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 20px;
	font-size: 22px;
        text-align: center;
}

.CuadroDescripcionCert {
        font-family: 'Open Sans', arial;
        -webkit-font-smoothing: antialiased;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 20px;
	font-size: 16px;
	color: #444;
        
}

.Txt_piepagina {
	font-family: 'Open Sans', arial;
        -webkit-font-smoothing: antialiased;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 20px;
	font-size: 12px;
	color: #002C41;
	text-align: center;
}
.Txt_arbol2 {
	font-size: 11px;
	color: #002C41;
	text-align: center;
	font-weight: bold;
}


/* Menu de arbol inicial */

.Txt_arbol{
     font-weight:bold;
     font-size: 11px;
     text-align: center;
     color: #404040;
     text-transform: uppercase;
     font-family: 'Open Sans', arial;
     -webkit-font-smoothing: antialiased;
     font-weight: 300;
     margin-top: 0;
     margin-bottom: 20px;
     font-size: 10px;
     color: #002C41;
     text-align: center;

}



.Txt_cont_acercade {
	/*font-family: Arial, Helvetica, sans-serif;*/
        font-family: "Arial Narrow", Arial, "Helvetica Condensed";
	font-size: 16px;
	color: black;
	text-align: justify;
	margin-right: 10px;
	margin-left: 10px;
}


.fnd_menu {
	background-image: url(/images/era/menu.png);
	background-repeat: no-repeat;
	height: 43px;
	width: 512px;
}
.TxtMenu {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
.fnd_sub_menu {
	background-image: url(/images/era/bar_sub_menu.png);
	background-repeat: no-repeat;
	height: 80px;
	width: 890px;
	background-position: right;
}
.fnd_bar_sub {
	background-image: url(/images/era/bar_sub.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 900px;
}

.fnd_slider {
	background-image: url(/images/era/fnd_slider.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 467px;
	width: 890px;
}
.fnd_cert {
	background-image: url(/images/era/fnds/fondo22.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	/*height: 1012px;*/
	width: 900px;
}

.fnd_diagnostico {
	background-image: url(/images/era/fnds/fondo4.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	/*height: 1012px;*/
	width: 900px;
}
.Txt_Adv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #FF0000;
	text-align: center;
}
.Txt_cont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	text-align: justify;
}

.Banner_era {
        background-image: url(/images/era/ban_esys.jpg);
	background-repeat: no-repeat;
	background-position: center top;
        width:900px;
        height: 175px;

}

/* .fnd_cert {
	background-image: url(/images/era/fnds/fondo22.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 1391px;
	width: 900px;
}
*/


table.TextoPrincipal{
/*background-image:url('/images/era/fnds/fondo5.jpg');
background-repeat: no-repeat;
*/
background-color:#ffffff;
  border:0px solid black;
  opacity:0.7;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  
}

/* Botones de menu de archivos adjuntos */

.BotonVerde {
	-moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
	-webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.BotonVerde:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.BotonVerde:active {
	position:relative;
	top:1px;
}


.BotonRojo {
	-moz-box-shadow:inset 0px 1px 0px 0px #8a2a21;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8a2a21;
	box-shadow:inset 0px 1px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.BotonRojo:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.BotonRojo:active {
	position:relative;
	top:1px;
}


.BotonAzul {
	-moz-box-shadow:inset 0px 1px 0px 0px #1564ad;
	-webkit-box-shadow:inset 0px 1px 0px 0px #1564ad;
	box-shadow:inset 0px 1px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.BotonAzul:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.BotonAzul:active {
	position:relative;
	top:1px;
}


.leido {

    background-color: inherit;
    color: gray;
    font-style: italic;

}

.noleido {
    background-color: yellow;
    color: blue;
    font-style: oblique;
}