<div class="formee">
  <% for generacion in @generaciones%>
    <fieldset>
      <legend>&nbsp;ESCUELAS QUE SON PARTE DE LA &nbsp;<%=generacion.descripcion.upcase%>&nbsp;GENERACIÓN</legend>
      <div class="txtGlobal" style="text-align: center;">
        <% for sostenimiento in @sostenimientos%>
          <span class="txtGlobalNg"><%=link_to "#{sostenimiento.sostenimiento}", {:action => "report_by_niveles_libre", :sostenimiento => sostenimiento.sostenimiento, :generacion => generacion}, :style => "color: navy;"-%></span><br /><br />
        <% end %>
        <span class="txtGlobalNg"><%=link_to "TOTALES #{generacion.descripcion} GENERACIÓN", {:action => "report_by_niveles_libre", :sostenimiento => "all",  :generacion => generacion}, :style => "color: green;"-%></span>
      </div>
      <br />
    </fieldset>
  <% end %>
</div>






