<!-- NOTIFICACIONES DE ACCIONES -->
          <%if flash[:notice]%>
         <div class="formee-msg-success">
              <ul>
                <h3>Operaci贸n realizada exitosamente:</h3><br />
                <li><%=flash[:notice]%></li><br />
              </ul>
         </div>

           <%elsif flash[:warning]%>
              <div class="formee-msg-warning">
                <ul>
                  <h3>Atenci贸n:</h3><br />
                  <li><%=flash[:warning]%></li><br />
                </ul>
              </div>

              <%elsif flash[:info]%>
              <div class="formee-msg-info">
                <ul>
                  <h3>Informaci贸n:</h3><br />
                  <li><%=flash[:info]%></li><br />
                </ul>
              </div>


              <%elsif flash[:error]%>
              <div class="formee-msg-error">
                <ul>
                  <h3>Operaci贸n no realizada:</h3><br />
                  <li><%=flash[:error]%></li><br />
                </ul>
              </div>
            <%end%>
